<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filters</key>
	<array>
		<dict>
			<key>name</key>
			<string>No Filter</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Grayscale</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Intensity</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Sepia</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Intensity</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>0.3</string>
				<key>baseline</key>
				<string>0.7</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Vignette Radius</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Grunge</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Opacity</string>
				<key>commitOn</key>
				<string>touchUp</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Cracks</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Opacity</string>
				<key>commitOn</key>
				<string>touchUp</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>0.3</string>
				<key>baseline</key>
				<string>0.7</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Vignette Radius</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Stars</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Opacity</string>
				<key>commitOn</key>
				<string>touchUp</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>20.0</string>
				<key>max</key>
				<string>360.0</string>
				<key>parameter</key>
				<string>Hue</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Color Flare</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Opacity</string>
				<key>commitOn</key>
				<string>touchUp</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>0.3</string>
				<key>baseline</key>
				<string>0.8</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Vignette Radius</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Stripes</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Opacity</string>
				<key>commitOn</key>
				<string>touchUp</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Intensity</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Red Color Splash</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Green Color Splash</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue Color Splash</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dazed and Confused</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>0.6</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Threshold</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>0.2</string>
				<key>baseline</key>
				<string>0.6</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Blur Radius</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Super Exposed</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0</string>
				<key>baseline</key>
				<string>6.5</string>
				<key>max</key>
				<string>10.0</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Inverted</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Pixellated</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>0.01</string>
				<key>max</key>
				<string>0.2</string>
				<key>parameter</key>
				<string>Pixel Size</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Polka Dot</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>0.01</string>
				<key>max</key>
				<string>0.2</string>
				<key>parameter</key>
				<string>Pixel Size</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Half Tone</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.001</string>
				<key>baseline</key>
				<string>0.01</string>
				<key>max</key>
				<string>0.2</string>
				<key>parameter</key>
				<string>Pixel Size</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Sketch</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sobel Edge</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cartoon</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>1.0</string>
				<key>baseline</key>
				<string>2.0</string>
				<key>max</key>
				<string>6.0</string>
				<key>parameter</key>
				<string>Blur Radius</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>4.0</string>
				<key>baseline</key>
				<string>10.0</string>
				<key>max</key>
				<string>30.0</string>
				<key>parameter</key>
				<string>Quantization</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuwahara</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>1.0</string>
				<key>baseline</key>
				<string>3.0</string>
				<key>max</key>
				<string>5.0</string>
				<key>parameter</key>
				<string>Radius</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Emboss</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.0</string>
				<key>max</key>
				<string>10.0</string>
				<key>parameter</key>
				<string>Depth</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Gaussian Blur</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>20.0</string>
				<key>max</key>
				<string>50.0</string>
				<key>parameter</key>
				<string>Radius</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Fish Eye</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.2</string>
				<key>baseline</key>
				<string>0.8</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Radius</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>1.5</string>
				<key>max</key>
				<string>2.0</string>
				<key>parameter</key>
				<string>Scale</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Stretch</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Amatorka</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brannan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gotham</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Inkwell</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lord Kelvin</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Miss Etikate</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nashville</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Soft Elegance</string>
		</dict>
		<dict>
			<key>name</key>
			<string>White Screen</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.05</string>
				<key>baseline</key>
				<string>0.08</string>
				<key>max</key>
				<string>0.25</string>
				<key>parameter</key>
				<string>Smoothing</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Green Screen</string>
			<key>editFilter1</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>0.4</string>
				<key>max</key>
				<string>1.0</string>
				<key>parameter</key>
				<string>Threshold</string>
			</dict>
			<key>editFilter2</key>
			<dict>
				<key>min</key>
				<string>0.0</string>
				<key>baseline</key>
				<string>120.0</string>
				<key>max</key>
				<string>360.0</string>
				<key>parameter</key>
				<string>Hue</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
